p {
  margin: 0;
}

pre {
  margin: 10px 0 0 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
}

div.title {
  text-align: center;
}

div.title div header h1 {
  font-size: 100px;
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 600px;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 100px;
}

div.title div header {
  left: 0;
}

div.title div section {
  margin-top: 400px;
}

.err {
  border: none;
}
